---
layout: default
title: Bài viết
---

<div class="posts">
  {% assign no_post = true %}
  {% for post in paginator.posts %}
  {% capture no_post %}{% endcapture %}
  <article class="post">
    <h1 class="post-title">
      <a href="{{ post.url | relative_url }}">
        {{ post.title }}
      </a>
    </h1>

    <time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">{{ post.date | date_to_string }}</time>

    {{ post.excerpt }}
    <a href="{{ post.url | relative_url }}" style="color:#111;">>> Đọc tiếp</a>
  </article>
  {% endfor %}
  {% if no_post == true %}
    <h3>Vẫn chưa có bài viết nào :(</h3>
  {% endif %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ paginator.next_page_path | relative_url }}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    <a class="pagination-item newer" href="{{ paginator.previous_page_path | prepend: relative_url }}">Newer</a>
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
