---
layout: default
---

<article class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <time datetime="{{ page.date | date_to_xmlschema }}" class="post-date">{{ page.date | date_to_string }}</time>
  {{ content }}
</article>

{% if site.related_posts != empty %}
<aside class="related">
  <h3>Related posts</h3>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <a href="{{ site.baseurl }}{{ post.url }}">
          {{ post.title }}
          <small><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_string }}</time></small>
        </a>
      </li>
    {% endfor %}
  </ul>
</aside>

  {% if site.cusdis_cmt %}
  <div id="cusdis_thread"
    data-host="https://cusdis.com"
    data-app-id="{{ site.disable_cmt }}"
    data-page-id="{{ post.url }}"
    data-page-url="{{ post.url }}"
    data-page-title="{{ post.title }}"
  >
  <script async src="https://cusdis.com/js/cusdis.es.js"></script>
  {% endif %}
{% endif %}
